{% extends 'home.html' %}

{% block content %}

<style>
  /* Add this CSS to your existing CSS file or create a new one */

.error_container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.error_container h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.error_container p {
    font-size: 16px;
    color: #900; /* Error message color */
    margin-bottom: 10px;
}

.error_container a {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: #007bff; /* Link color */
}

.error_container a:hover {
    text-decoration: underline;
}


</style>

<div class="error_container">
    <h1>Error</h1>
    
    {% if error %}
            <p>{{ error }}</p>
    {% else %}
        <p>No errors found.</p>
    {% endif %}
    
    <a href="javascript:history.back()">Go back</a>
</div>

{% endblock %}
